@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,200&display=swap');
.App{
  font-family: 'JetBrains Mono', monospace;
}
 .navbar{
    background-color: #d0a478;
    background-position: center;
    background-size: contain;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
  } 

  .container{
    background-image: url(../src/components/fondo.jpg);
    width: 1300vh;
    height: 110vh;
  }
  .registro{
    background-color: #d0a478;
    height: 90%;
  }
 .btn{
  background-color: #d0a478;
 }
 .table{
  background-color:bisque;
 }


  .hh{
    margin-top: 10%;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
  }
  